/* Basic Style */

body {
	background: #fff;
	color: #333;
	font-family: Lato, sans-serif;
	background-color:#e4e4e4;
}
.container2 h2, h3 {
    font-size: 1.5rem;
}
.container2 h3 {
    font-size: 1.3rem;
}
.container2 {
	display: block;
	width: 472px;
	margin: 40px auto 100px;
	background-color:#fff;
	padding:0px 10px 10px 10px;
	border-radius:10px
}

h2 {
	text-align:center;
	padding-top:10px;
	margin-bottom:0px;
}

ul {
	margin: 0;
	padding: 0;
}

li * {
	float: left;
}

li,
h3 {
	clear: both;
	list-style: none;
}

input,
button {
	outline: none;
}

button {
	background: none;
	border: 0px;
	color: #888;
	font-size: 15px;
	width: 60px;
	margin: 10px 0 0;
	font-family: Lato, sans-serif;
	cursor: pointer;
}

button:hover {
	color: #333;
}


/* Heading */

h3,
label[for='new-task'] {
	color: #333;
	font-weight: 700;
	font-size: 15px;
	border-bottom: 2px solid #333;
	padding: 20px 0 10px;
	margin: 0;
	text-transform: uppercase;
}

input[type="text"] {
	margin: 0;
	font-size: 18px;
	line-height: 18px;
	height: 40px;
	padding: 10px;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 6px;
	font-family: Lato, sans-serif;
	color: #888;
}

input[type="text"]:focus {
	color: #333;
}


/* New Task */

label[for='new-task'] {
	display: block;
	margin: 0 0 20px;
}

input#new-task {
	float: left;
	width: 318px;
}

p > button:hover {
	color: #0FC57C;
}


/* Task list */

li {
	overflow: hidden;
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}

li > input[type="checkbox"] {
	margin: 0 10px;
	position: relative;
	top: 6px;
}

li > label {
	font-size: 18px;
	line-height: 18px;
	width: 237px;
	padding: 0 0 0 11px;
}

li > input[type="text"] {
	width: 226px;
}

li > .delete:hover {
	color: #CF2323;
}

#incomplete-tasks  input {
        margin-right: 40px;
    height: 40px;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid grey;
}




/* Completed */

#completed-tasks label {
	text-decoration: line-through;
	color: #888;
}


/* Edit Task */

ul li input[type=text] {
	display: none;
}

ul li.editMode input[type=text] {
	display: block;
}

ul li.editMode label {
	display: none;
}

.add_btn{
  background: green;
    color: white;
    height: 34px;
    border-radius: 8px;
    font-weight: 600;

}

.input-field{
      display: flex;
    align-items: center;
    gap: 20px;
        justify-content: center;
            margin-top: 20px;
}

button.edit {
    background: #ff9700;
     color: white;
    font-weight: 600;
    height: 34px;
    border-radius: 5px;
      margin-right: 8px;
}
button.delete {
    background: red;
    border-radius: 5px;
    height: 34px;
    color: white;
    font-weight: 600;
}

#incomplete-tasks li{
  display: flex;
  align-items: center;
}
#incomplete-tasks label{
  padding-right: 10px;
}

#incomplete-tasks li > input[type="checkbox"] {
	margin: 0 10px;
	position: relative;
	top: 3px;
}
#cus_line li > label{
    text-decoration: line-through;
    color: #888;
}